<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASL TO ENGLISH</title>
    <style>
              img{
                margin: auto;
                height: 125px;
                width: 100px;
              }
              .row{
                    margin-top: 5%;
                    margin-left: 5%;
              }
              #display{
                  margin-left: 15%;
                  margin-top: 5%;
              }
    </style>
</head>
<body>
    
      <script>
          function displayLetter(src)
          {
           let images={1:"A", 2:"B", 3:"C", 4:"D" , 5:"E", 6:"F",7:"G", 8:"H", 9:"I", 10:"J", 11:"K", 12:"L", 13:"M", 14:"N", 15:"O", 16:"P", 17:"Q",18:"R", 19:"S",20:"T",21:"U",22:"V",23:"W",24:"X",25:"Y",26:"Z"};
            document.getElementById('display').innerHTML+=images[src];
          }
      </script>

    <div class="row">
        <div class="column">
          <img onclick="displayLetter(1)" src="https://icon2.cleanpng.com/20180318/kse/kisspng-american-sign-language-fingerspelling-baby-sign-la-asl-alphabet-cliparts-5aae1abfc36641.4532042815213595518004.jpg">
          <img onclick="displayLetter(2)" src="https://www.graphicsfactory.com/clip-art/image_files/image/9/1445259-300_jpg_ASL_sign_language_B_clipart_illustration.jpg">
          <img onclick="displayLetter(3)" src="https://www.graphicsfactory.com/clip-art/image_files/image/8/1445268-300_jpg_ASL_sign_language_C_clipart_illustration.jpg">
          <img onclick="displayLetter(4)" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/06/Sign_language_D.svg/1200px-Sign_language_D.svg.png">
          <img onclick="displayLetter(5)" src="https://www.clipartmax.com/png/middle/43-432187_asl-e-sign-language-letter-e.png">
          <img onclick="displayLetter(6)" src="https://img.favpng.com/19/19/12/american-sign-language-letter-f-png-favpng-zPdLSuakQsRmVb936NECvdXvs.jpg">
          <img onclick="displayLetter(7)" src="https://thumbs.dreamstime.com/z/finger-spelling-alphabet-american-sign-language-asl-letter-g-vector-icon-flat-style-isolated-white-background-179429882.jpg">
          <img onclick="displayLetter(8)" src="https://www.graphicsfactory.com/clip-art/image_files/image/2/1445312-300_jpg_ASL_sign_language_H_clipart_illustration.jpg">
          <img onclick="displayLetter(9)" src="https://previews.123rf.com/images/khalide91/khalide911912/khalide91191200341/135102431-finger-spelling-the-alphabet-in-american-sign-language-asl-the-letter-i-vector.jpg">
          <img onclick="displayLetter(10)" src="https://i.pinimg.com/736x/6a/6a/cc/6a6acc5714548ce3c0fff5c737c7938d--sign-language-download.jpg">
          <img onclick="displayLetter(11)" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/97/Sign_language_K.svg/1200px-Sign_language_K.svg.png">
          <img onclick="displayLetter(12)" src="https://i.pinimg.com/originals/e6/da/68/e6da68b1485d2908b6c5ba264d2d8eff.jpg">
          <img onclick="displayLetter(13)" src="https://thumbs.dreamstime.com/z/finger-spelling-alphabet-american-sign-language-asl-letter-m-vector-finger-spelling-icon-flat-style-isolated-white-179430010.jpg">
        </div>
        <div class="column">
          <img onclick="displayLetter(14)" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Sign_language_N.svg/1200px-Sign_language_N.svg.png">
          <img onclick="displayLetter(15)" src="https://c8.alamy.com/comp/K76NRX/sign-language-and-the-alphabetthe-letter-o-K76NRX.jpg">
          <img onclick="displayLetter(16)" src="https://www.pngfind.com/pngs/m/433-4334318_p-asl-png-download-sign-language-alphabet-p.png">
          <img onclick="displayLetter(17)" src="https://i.pinimg.com/originals/fa/0a/25/fa0a255f495c3e47e4f58423cba03f33.jpg">
          <img onclick="displayLetter(18)" src="https://images.all-free-download.com/images/graphiclarge/sign_language_r_clip_art_19716.jpg">
          <img onclick="displayLetter(19)" src="https://i.pinimg.com/736x/cd/e0/23/cde023b27bd44a7424db9d189da16586--name-letters-american-sign-language.jpg">
          <img onclick="displayLetter(20)" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/Sign_language_T.svg/1552px-Sign_language_T.svg.png">
          <img onclick="displayLetter(21)" src="https://www.clipartmax.com/png/middle/99-994175_open-sign-language-letter-u.png">
          <img onclick="displayLetter(22)" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/Sign_language_V.svg/494px-Sign_language_V.svg.png">
          <img onclick="displayLetter(23)" src="https://static.thenounproject.com/png/251874-200.png">
          <img onclick="displayLetter(24)" src="https://www.graphicsfactory.com/clip-art/image_files/image/7/1445457-300_jpg_ASL_sign_language_X_clipart_illustration.jpg">
          <img onclick="displayLetter(25)" src="https://i.ytimg.com/vi/spieu1DHQPQ/maxresdefault.jpg">
          <img onclick="displayLetter(26)" src="https://static.thenounproject.com/png/253039-200.png">
        </div>
        <div id="display">

        </div>
      </div>
      
</body>
</html>